<row class="chatbox-title">
  <h3 id="room-name-title">Inbox</h3>
<button data-src="/views/rooms.handlebars" id="leaveroom" class="btn btn-outline-secondary" type="button">Leave Chat</button>
<script>
  document.getElementById('leaveroom').addEventListener('click', function() {
    window.history.back();
  });
</script>

</row>
<row class="align-items-end" id="text">
    {{!-- The messages will be appended here --}}
</row>
<row class="align-items-end">
    <div class="input-group">
        <input type="text" class="form-control" id="message-input" placeholder="Enter message here">
        <div class="input-group-append">
            <button id="submit" class="btn btn-outline-secondary" type="button">Send</button>
        </div>
    </div>
</row>
