<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="signup-card">
                <h2>Sign Up</h2>
                <form class="form signup-form" id="signup-form">
                    <div class="nickname input form-group">
                        <label for="nickname-signup">Nickname:</label>
                        <input class="form-input input-box" type="text" id="nickname-signup" name="nickname" />
                    </div>
                    <div class="password input form-group">
                        <label for="password-signup">Password:</label>
                        <p id="error-message" style="display: none; color: red;"></p>
                        <input class="form-input input-box" type="password" id="password-signup" name="password" />
                    </div>
                    <div class="submit form-group">
                        <button class="btn btn-primary" type="submit">Sign Up</button>
                    </div>
                </form>
                <h5>Already have a nickname? <a href="/login">Login here.</a></h5>
            </div>
        </div>
    </div>
</div>

<script src="/js/signup.js"></script>
