<row class="chatbox-title">
  <h3>{{room.name}}</h3>
</row>
<row class="align-items-end" id="messages">
    {{!-- The messages will be appended here --}}
</row>
<row class="align-items-end">
    <div class="input-group">
        <input type="text" class="form-control" placeholder="Enter message here">
        <div class="input-group-append">
            <button id='submit' class="btn btn-outline-secondary" type="button">Send</button>
        </div>
    </div>
</row>
<!-- Load Socket.io script -->
<script src="/socket.io/socket.io.js"></script>

<!-- Load chat.js script -->
<script src="/js/chat.js"></script>

<!-- Load app.js script -->
<script src="/js/app.js"></script>

