<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sock Help</title>
</head>

<body>

    <input type="text" id="name">
    <button type="button" id="submit">Send Message</button>

    <!--For messages added-->
    <div id=chat></div>

    <!--show who joined-->
    <div id="users-container">Currently in Room:</div>

    <!--To join room-->
    <!--<input type='text' id=room>
    <button type='button' id='join'>Join Room</button>-->

    <!-- Room list -->
    <div id="room-list">
        <a href="#" class="room-link" data-room-name="Room1">Room1</a>
        <a href="#" class="room-link" data-room-name="Room2">Room2</a>
        <a href="#" class="room-link" data-room-name="Room3">Room3</a>
    </div>

    <!--Scripts-->
    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/app.js"></script>
    <script src="/js/chat.js"></script>


</body>

</html>